USE [master]
GO

-- 1. Crear base de datos (Docker asigna la ruta en Linux automáticamente)
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'PsicologiaIA')
BEGIN
    CREATE DATABASE [PsicologiaIA]
END
GO

USE [PsicologiaIA]
GO

-- 2. Estructura de Tablas sin dependencias circulares
CREATE TABLE [dbo].[Psychologists](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[FullName] [varchar](100) NOT NULL,
	[IsAvailableForImmediate] [bit] NULL DEFAULT ((0)),
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
	[Email] [nvarchar](100) NOT NULL DEFAULT ('sin-correo@psicologiaia.com'),
	[Specialty] [nvarchar](100) NOT NULL DEFAULT ('Psicología Clínica')
)
GO

CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL UNIQUE,
	[Phone] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate())
)
GO

CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[UserId] [int] NULL FOREIGN KEY REFERENCES [dbo].[Users]([Id]),
	[PsychologistId] [int] NULL FOREIGN KEY REFERENCES [dbo].[Psychologists]([Id]),
	[AppointmentDate] [datetime] NOT NULL,
	[IsImmediate] [bit] NULL DEFAULT ((0)),
	[Status] [varchar](20) NULL DEFAULT ('Pending'),
	[CreatedAt] [datetime] NULL DEFAULT (getdate())
)
GO

CREATE TABLE [dbo].[ChatLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[UserId] [int] NULL FOREIGN KEY REFERENCES [dbo].[Users]([Id]),
	[Role] [varchar](20) NOT NULL,
	[Message] [nvarchar](max) NOT NULL, -- Usamos nvarchar(max) para soportar textos largos de IA en Linux
	[Timestamp] [datetime] NULL DEFAULT (getdate())
)
GO

-- 3. Inyección de Semillas (Seeds) con Identidades Controladas
SET IDENTITY_INSERT [dbo].[Users] ON 
INSERT [dbo].[Users] ([Id], [FullName], [Email], [Phone], [CreatedAt]) VALUES 
(1, N'David Escobar', N'david@correo.com', N'3001234567', '2026-05-30T19:13:55'),
(2, N'Usuario Prueba 2', N'prueba2@gmail.com', NULL, '2026-05-31T01:59:27')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO

SET IDENTITY_INSERT [dbo].[Psychologists] ON 
INSERT [dbo].[Psychologists] ([Id], [FullName], [IsAvailableForImmediate], [CreatedAt], [Email], [Specialty]) VALUES 
(1, N'Dra. Prueba 3', 1, '2026-05-30T21:33:38', N'prueba3@correo.com', N'Psicología Clínica'),
(2, N'Dr. Prueba 4', 0, '2026-05-30T21:33:38', N'prueba4@correo.com', N'Terapia Cognitivo Conductual')
SET IDENTITY_INSERT [dbo].[Psychologists] OFF
GO

SET IDENTITY_INSERT [dbo].[Appointments] ON 
INSERT [dbo].[Appointments] ([Id], [UserId], [PsychologistId], [AppointmentDate], [IsImmediate], [Status], [CreatedAt]) VALUES 
(1, 1, 1, '2026-05-31T16:56:00', 0, N'Confirmed', '2026-05-31T03:03:01')
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO

SET IDENTITY_INSERT [dbo].[ChatLogs] ON 
SET IDENTITY_INSERT [dbo].[ChatLogs] OFF
GO